In [ ]:
import pandas as pd
import numpy as np
from tqdm import tqdm
import sqlite3
import json

In [5]:
checkin_df = []
with open("../yelp_dataset/yelp_academic_dataset_checkin.json", "r") as f:
    for line in f:
        checkin_df.append(json.loads(line))

In [6]:
# want to open same for business file next
business_df = []
with open("../yelp_dataset/filtered_food_data.json", "r",encoding="utf-8") as f:
    for line in f:
        business_df.append(json.loads(line))

In [7]:
business_data_df = pd.DataFrame(business_df)
business_data_df.head()

,business_id,city,state,postal_code,latitude,longitude,categories,category_list,filtered_categories
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,PA,19107,39.955505,-75.155564,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ...","[Restaurants, Food, Bubble Tea, Coffee & Tea, ..."
1,mWMc6_wTdE0EUBKIGXDVfA,Green Lane,PA,18054,40.338183,-75.471659,"Brewpubs, Breweries, Food","[Brewpubs, Breweries, Food]","[Brewpubs, Breweries, Food]"
2,CF33F8-E6oudUQ46HnavjQ,Ashland City,TN,37015,36.269593,-87.058943,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","[Burgers, Fast Food, Sandwiches, Food, Ice Cre...","[Burgers, Fast Food, Sandwiches, Food, Ice Cre..."
3,k0hlBqXX-Bt0vf1op7Jr1w,Affton,MO,63123,38.565165,-90.321087,"Pubs, Restaurants, Italian, Bars, American (Tr...","[Pubs, Restaurants, Italian, Bars, American (T...","[Pubs, Restaurants, Italian, Bars, American (T..."
4,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,TN,37207,36.208102,-86.768170,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","[Ice Cream & Frozen Yogurt, Fast Food, Burgers...","[Ice Cream & Frozen Yogurt, Fast Food, Burgers..."

In [8]:
checkin_data_df = pd.DataFrame(checkin_df)
checkin_data_df.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [10]:
# adding my data to sqlite database
import sqlite3
import pandas as pd

conn = sqlite3.connect("yelp.db")
# checkin_data_df.to_sql("checkin_businesses", conn, if_exists="replace", index=False)

In [34]:
def convert_nested_values(x):
    if isinstance(x, (dict, list)):
        return json.dumps(x)   # convert to JSON string
    return x

businesses_data_df = business_data_df.applymap(convert_nested_values)
businesses_data_df.to_sql("businesses", conn, if_exists="replace", index=False)

C:\Users\Chandresh\AppData\Local\Temp\ipykernel_27936\1817978950.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  businesses_data_df = business_data_df.applymap(convert_nested_values)

66770

In [11]:
query = "SELECT * FROM businesses LIMIT 5;"
result = pd.read_sql_query(query, conn)
result.head()

,business_id,city,state,postal_code,latitude,longitude,categories,category_list,filtered_categories
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,PA,19107,39.955505,-75.155564,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","[""Restaurants"", ""Food"", ""Bubble Tea"", ""Coffee ...","[""Restaurants"", ""Food"", ""Bubble Tea"", ""Coffee ..."
1,mWMc6_wTdE0EUBKIGXDVfA,Green Lane,PA,18054,40.338183,-75.471659,"Brewpubs, Breweries, Food","[""Brewpubs"", ""Breweries"", ""Food""]","[""Brewpubs"", ""Breweries"", ""Food""]"
2,CF33F8-E6oudUQ46HnavjQ,Ashland City,TN,37015,36.269593,-87.058943,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","[""Burgers"", ""Fast Food"", ""Sandwiches"", ""Food"",...","[""Burgers"", ""Fast Food"", ""Sandwiches"", ""Food"",..."
3,k0hlBqXX-Bt0vf1op7Jr1w,Affton,MO,63123,38.565165,-90.321087,"Pubs, Restaurants, Italian, Bars, American (Tr...","[""Pubs"", ""Restaurants"", ""Italian"", ""Bars"", ""Am...","[""Pubs"", ""Restaurants"", ""Italian"", ""Bars"", ""Am..."
4,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,TN,37207,36.208102,-86.768170,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","[""Ice Cream & Frozen Yogurt"", ""Fast Food"", ""Bu...","[""Ice Cream & Frozen Yogurt"", ""Fast Food"", ""Bu..."

In [12]:
query = "SELECT * FROM checkin_businesses LIMIT 5;"
result = pd.read_sql_query(query, conn)
result.head()

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...

In [13]:
query = """
SELECT 
    b.*, 
    c.date
FROM businesses b
LEFT JOIN checkin_businesses c
ON b.business_id = c.business_id
"""

result_df = pd.read_sql_query(query, conn)
result_df.head()

,business_id,city,state,postal_code,latitude,longitude,categories,category_list,filtered_categories,date
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,PA,19107,39.955505,-75.155564,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","[""Restaurants"", ""Food"", ""Bubble Tea"", ""Coffee ...","[""Restaurants"", ""Food"", ""Bubble Tea"", ""Coffee ...","2010-08-18 17:05:36, 2010-11-25 17:45:31, 2011..."
1,mWMc6_wTdE0EUBKIGXDVfA,Green Lane,PA,18054,40.338183,-75.471659,"Brewpubs, Breweries, Food","[""Brewpubs"", ""Breweries"", ""Food""]","[""Brewpubs"", ""Breweries"", ""Food""]","2019-06-28 21:35:09, 2019-09-12 21:07:48, 2019..."
2,CF33F8-E6oudUQ46HnavjQ,Ashland City,TN,37015,36.269593,-87.058943,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","[""Burgers"", ""Fast Food"", ""Sandwiches"", ""Food"",...","[""Burgers"", ""Fast Food"", ""Sandwiches"", ""Food"",...","2012-12-16 05:27:33, 2013-02-15 04:00:46, 2013..."
3,k0hlBqXX-Bt0vf1op7Jr1w,Affton,MO,63123,38.565165,-90.321087,"Pubs, Restaurants, Italian, Bars, American (Tr...","[""Pubs"", ""Restaurants"", ""Italian"", ""Bars"", ""Am...","[""Pubs"", ""Restaurants"", ""Italian"", ""Bars"", ""Am...","2012-04-16 22:28:12, 2012-04-20 22:38:55, 2012..."
4,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,TN,37207,36.208102,-86.768170,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","[""Ice Cream & Frozen Yogurt"", ""Fast Food"", ""Bu...","[""Ice Cream & Frozen Yogurt"", ""Fast Food"", ""Bu...","2011-01-17 15:31:21, 2011-02-23 21:28:08, 2011..."

In [37]:
result_df.shape

(66770, 10)

In [38]:
result_df.to_sql(
    "business_checkin",   # name of new table
    conn,                 # your database connection
    if_exists="replace",  # replace if table already exists
    index=False
)

66770

In [14]:
pd.read_sql_query("SELECT * FROM business_checkin LIMIT 5;", conn)

,business_id,city,state,postal_code,latitude,longitude,categories,category_list,filtered_categories,date
0,MTSW4McQd7CbVtyjqoe9mw,Philadelphia,PA,19107,39.955505,-75.155564,"Restaurants, Food, Bubble Tea, Coffee & Tea, B...","[""Restaurants"", ""Food"", ""Bubble Tea"", ""Coffee ...","[""Restaurants"", ""Food"", ""Bubble Tea"", ""Coffee ...","2010-08-18 17:05:36, 2010-11-25 17:45:31, 2011..."
1,mWMc6_wTdE0EUBKIGXDVfA,Green Lane,PA,18054,40.338183,-75.471659,"Brewpubs, Breweries, Food","[""Brewpubs"", ""Breweries"", ""Food""]","[""Brewpubs"", ""Breweries"", ""Food""]","2019-06-28 21:35:09, 2019-09-12 21:07:48, 2019..."
2,CF33F8-E6oudUQ46HnavjQ,Ashland City,TN,37015,36.269593,-87.058943,"Burgers, Fast Food, Sandwiches, Food, Ice Crea...","[""Burgers"", ""Fast Food"", ""Sandwiches"", ""Food"",...","[""Burgers"", ""Fast Food"", ""Sandwiches"", ""Food"",...","2012-12-16 05:27:33, 2013-02-15 04:00:46, 2013..."
3,k0hlBqXX-Bt0vf1op7Jr1w,Affton,MO,63123,38.565165,-90.321087,"Pubs, Restaurants, Italian, Bars, American (Tr...","[""Pubs"", ""Restaurants"", ""Italian"", ""Bars"", ""Am...","[""Pubs"", ""Restaurants"", ""Italian"", ""Bars"", ""Am...","2012-04-16 22:28:12, 2012-04-20 22:38:55, 2012..."
4,bBDDEgkFA1Otx9Lfe7BZUQ,Nashville,TN,37207,36.208102,-86.768170,"Ice Cream & Frozen Yogurt, Fast Food, Burgers,...","[""Ice Cream & Frozen Yogurt"", ""Fast Food"", ""Bu...","[""Ice Cream & Frozen Yogurt"", ""Fast Food"", ""Bu...","2011-01-17 15:31:21, 2011-02-23 21:28:08, 2011..."

In [ ]:
# -------- Step 1: Chunk Reader --------
def read_json_in_chunks(path, chunk_size=50000):
    batch = []
    with open(path, "r", encoding="utf-8") as f:
        for line in f:
            batch.append(json.loads(line))
            if len(batch) == chunk_size:
                yield batch
                batch = []
    if batch:
        yield batch

# -------- Step 2: Convert Nested Values --------
def convert_nested(obj):
    if isinstance(obj, (dict, list)):
        return json.dumps(obj)
    return obj

# -------- Step 3: Connect to SQLite --------
conn = sqlite3.connect("yelp.db")
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS reviews;")
conn.commit()

# -------- Step 4: Process & Insert in Chunks --------
review_path = "../yelp_dataset/yelp_academic_dataset_review.json"

for batch in tqdm(read_json_in_chunks(review_path, chunk_size=50000)):
    df = pd.DataFrame(batch)
    df = df.applymap(convert_nested)
    df.to_sql("reviews", conn, if_exists="append", index=False)

# -------- Step 5: Verify --------
count_df = pd.read_sql_query("SELECT COUNT(*) AS total FROM reviews;", conn)
print(count_df)

# -------- Step 6: Fetch Again --------
sample_review = pd.read_sql_query("SELECT * FROM reviews LIMIT 5;", conn)
sample_review

0it [00:00, ?it/s]C:\Users\Chandresh\AppData\Local\Temp\ipykernel_10776\66824749.py:30: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(convert_nested)
140it [03:46,  1.62s/it]

     total
0  6990280

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [16]:
# -------- Step 1: Chunk Reader --------
def read_json_in_chunks(path, chunk_size=50000):
    batch = []
    with open(path, "r", encoding="utf-8") as f:
        for line in f:
            batch.append(json.loads(line))
            if len(batch) == chunk_size:
                yield batch
                batch = []
    if batch:
        yield batch

# -------- Step 2: Convert Nested Values --------
def convert_nested(obj):
    if isinstance(obj, (dict, list)):
        return json.dumps(obj)
    return obj

# -------- Step 3: Connect to SQLite --------
conn = sqlite3.connect("yelp.db")
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS tips;")
conn.commit()

# -------- Step 4: Process & Insert in Chunks --------
tip_path = "../yelp_dataset/yelp_academic_dataset_tip.json"

for batch in tqdm(read_json_in_chunks(tip_path, chunk_size=50000)):
    df = pd.DataFrame(batch)
    df = df.applymap(convert_nested)
    df.to_sql("tips", conn, if_exists="append", index=False)

# -------- Step 5: Verify --------
count_df = pd.read_sql_query("SELECT COUNT(*) AS total FROM tips;", conn)
print(count_df)

# -------- Step 6: Fetch Again --------
sample_tip = pd.read_sql_query("SELECT * FROM tips LIMIT 5;", conn)
sample_tip

0it [00:00, ?it/s]C:\Users\Chandresh\AppData\Local\Temp\ipykernel_10776\30236911.py:30: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(convert_nested)
19it [00:12,  1.57it/s]

    total
0  908915

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0

In [17]:
# -------- Step 1: Chunk Reader --------
def read_json_in_chunks(path, chunk_size=50000):
    batch = []
    with open(path, "r", encoding="utf-8") as f:
        for line in f:
            batch.append(json.loads(line))
            if len(batch) == chunk_size:
                yield batch
                batch = []
    if batch:
        yield batch

# -------- Step 2: Convert Nested Values --------
def convert_nested(obj):
    if isinstance(obj, (dict, list)):
        return json.dumps(obj)
    return obj

# -------- Step 3: Connect to SQLite --------
conn = sqlite3.connect("yelp.db")
cursor = conn.cursor()
cursor.execute("DROP TABLE IF EXISTS users;")
conn.commit()

# -------- Step 4: Process & Insert in Chunks --------
user_path = "../yelp_dataset/yelp_academic_dataset_user.json"

for batch in tqdm(read_json_in_chunks(user_path, chunk_size=50000)):
    df = pd.DataFrame(batch)
    df = df.applymap(convert_nested)
    df.to_sql("users", conn, if_exists="append", index=False)

# -------- Step 5: Verify --------
count_df = pd.read_sql_query("SELECT COUNT(*) AS total FROM users;", conn)
print(count_df)

# -------- Step 6: Fetch Again --------
sample_user = pd.read_sql_query("SELECT * FROM users LIMIT 5;", conn)
sample_user

0it [00:00, ?it/s]C:\Users\Chandresh\AppData\Local\Temp\ipykernel_10776\2598485954.py:30: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(convert_nested)
40it [01:59,  2.99s/it]

     total
0  1987897

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [19]:
sample_user.head(10)

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0

In [20]:
# close the connection
conn.close()